<html>
<head>
</head>
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to image_tag("logo.png", :border => 0), {}, {}%></li>
		<li><a href="../">Logout</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @jet.userid %>
</p>

<p>
  <b>Content:</b>
  <%= @jet.content %>
</p>


<%= link_to 'Edit', edit_jet_path(@jet) %> |
<%= link_to 'Back', jets_path %>
</div>
</body>
</html>